Repository ordzaar/ordit-sdk, pull requests merged in 2023-10, with the labels that each got.

#8 fix(sdk): remove cjs support
  packages/sdk/package.json
Labels: kind/fix

#13 chore(sdk): add eslint
  .eslintignore
  .eslintrc.cjs
  .husky/pre-commit
  apps/browser-tests/.eslintrc.cjs
  package.json
  packages/sdk/.eslintrc.cjs
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/types.d.ts
  packages/sdk/tsconfig.json
  packages/sdk/vite.config.ts
  pnpm-lock.yaml
Labels: kind/chore

#15 chore(sdk): setup vitest and add isInstalled for unisat
  .eslintrc.cjs
  .github/workflows/ci.yml
  apps/browser-tests/index.html
  apps/browser-tests/public/favicon.ico
  apps/browser-tests/src/main.ts
  package.json
  packages/sdk/package.json
  packages/sdk/src/browser-wallets/types.ts
  packages/sdk/src/browser-wallets/unisat/__tests__/index.spec.ts
  packages/sdk/src/browser-wallets/unisat/index.ts
  packages/sdk/src/browser-wallets/xverse/index.ts
  packages/sdk/src/errors/index.ts
  packages/sdk/vite.config.ts
  pnpm-lock.yaml
  tsconfig.base.json
  turbo.json
Labels: area/workflow, kind/chore

#10 feat(docs): Add base docs with docusaurus
  README.md
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/babel.config.js
  apps/docs/docs/intro.md
  apps/docs/docusaurus.config.js
  apps/docs/package.json
  apps/docs/sidebars.js
  apps/docs/src/css/custom.css
  apps/docs/static/.nojekyll
  apps/docs/static/img/favicon.ico
  apps/docs/static/img/ordzaar-256x256.png
  apps/docs/static/img/ordzaar-logo.gif
  apps/docs/tsconfig.json
  package.json
  pnpm-lock.yaml
Labels: kind/feature

#18 chore(ops): fix turbo output
  turbo.json
Labels: kind/chore

#21 feat(docs): exclude docusaurus server from dev script
  package.json
  turbo.json
Labels: kind/feature

#14 feat(sdk): add support for unisat
  apps/browser-tests/package.json
  apps/browser-tests/src/main.ts
  apps/browser-tests/vite.config.ts
  packages/sdk/browser-wallets-unisat.d.ts
  packages/sdk/browser-wallets.d.ts
  packages/sdk/package.json
  packages/sdk/src/addresses/__tests__/helper.spec.ts
  packages/sdk/src/addresses/__tests__/index.spec.ts
  packages/sdk/src/addresses/constants.ts
  packages/sdk/src/addresses/helper.ts
  packages/sdk/src/addresses/index.ts
  packages/sdk/src/addresses/types.ts
  packages/sdk/src/browser-wallets/index.ts
  packages/sdk/src/browser-wallets/types.ts
  packages/sdk/src/browser-wallets/unisat/__tests__/index.spec.ts
  packages/sdk/src/browser-wallets/unisat/constants.ts
  packages/sdk/src/browser-wallets/unisat/index.ts
  packages/sdk/src/browser-wallets/unisat/types.ts
  packages/sdk/src/browser-wallets/xverse/index.ts
  packages/sdk/src/config/types.ts
  packages/sdk/src/index.ts
  packages/sdk/vite.config.ts
  pnpm-lock.yaml
Labels: kind/feature

#24 docs(unisat): add intro, installation and browser wallet documentation
  apps/docs/docs/api/_category_.json
  apps/docs/docs/api/browser-wallets.mdx
  apps/docs/docs/getting-started/_category_.json
  apps/docs/docs/getting-started/installation.mdx
  apps/docs/docs/intro.md
  apps/docs/docusaurus.config.js
  turbo.json
Labels: kind/docs

#26 feat(sdk): add browser wallet errors
  apps/docs/docs/api/browser-wallets.mdx
  packages/sdk/src/browser-wallets/unisat/index.ts
  packages/sdk/src/errors/index.ts
Labels: kind/feature
