Repository ordzaar/ordit-sdk, pull requests merged in 2023-11, with the labels that each got.

#29 feat(sdk): add readOnly parameter to browser wallet getAddresses
  packages/sdk/src/browser-wallets/unisat/index.ts
  packages/sdk/src/browser-wallets/xverse/index.ts
  packages/sdk/src/types.d.ts
Labels: kind/feature

#30 chore(ops): move to @ordzaar/standard
  .eslintrc.cjs
  .github/renovate.json
  apps/browser-tests/package.json
  package.json
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: area/workflow, kind/chore

#32 chore(ops): update docusaurus
  apps/docs/docusaurus.config.js
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  apps/docs/sidebars.ts
  pnpm-lock.yaml
Labels: kind/chore

#37 fix(ops): use ordzaar/standard-linter
  .eslintrc.cjs
  apps/browser-tests/package.json
  apps/browser-tests/src/main.ts
  apps/docs/package.json
  package.json
  packages/sdk/package.json
  packages/sdk/src/addresses/__tests__/index.spec.ts
  packages/sdk/src/addresses/constants.ts
  packages/sdk/src/addresses/index.ts
  packages/sdk/src/browser-wallets/unisat/__tests__/index.spec.ts
  packages/sdk/src/browser-wallets/unisat/index.ts
  packages/sdk/src/browser-wallets/xverse/index.ts
  packages/sdk/src/errors/BrowserWalletNotInstalledError.ts
  packages/sdk/src/errors/BrowserWalletSigningError.ts
  packages/sdk/src/errors/OrditSDKError.ts
  packages/sdk/src/errors/index.ts
  pnpm-lock.yaml
Labels: kind/fix

#39 fix(eslint): console
  apps/browser-tests/.eslintrc.cjs
Labels: kind/fix

#38 feat(docs): docs styling to match Ordzaar styling
  apps/docs/src/css/custom.css
Labels: kind/feature

#43 feat(unisat): extend message signer to accept type
  apps/docs/docs/api/browser-wallets.mdx
  packages/sdk/src/browser-wallets/unisat/index.ts
  packages/sdk/src/types.d.ts
Labels: kind/feature

#45 chore(psbt): add mock psbt
  packages/sdk/src/fee/__fixtures__/psbt.fixture.ts
  packages/sdk/src/fee/__tests__/utils.ts
Labels: kind/chore

#28 feat(sdk): add initial types and modules for PSBTBuilder
  packages/sdk/src/api/jsonrpc.ts
  packages/sdk/src/api/types.ts
  packages/sdk/src/config/index.ts
  packages/sdk/src/constants/index.ts
  packages/sdk/src/fee/FeeEstimator.ts
  packages/sdk/src/fee/__tests__/FeeEstimator.spec.ts
  packages/sdk/src/fee/helper.ts
  packages/sdk/src/fee/types.ts
  packages/sdk/src/inscription/types.ts
  packages/sdk/src/modules/BaseDatasource.ts
  packages/sdk/src/modules/DatasourceUtility.ts
  packages/sdk/src/modules/JsonRpcDatasource.ts
  packages/sdk/src/modules/__fixtures__/DataSourceUtility.fixture.ts
  packages/sdk/src/modules/__tests__/DataSourceUtility.spec.ts
  packages/sdk/src/modules/index.ts
  packages/sdk/src/modules/types.ts
  packages/sdk/src/transactions/types.ts
  packages/sdk/src/utils/__tests__/index.spec.ts
  packages/sdk/src/utils/index.ts
  packages/sdk/src/utils/types.ts
  packages/sdk/src/wallet/types.ts
Labels: kind/feature

#40 feat(sdk): Sat support
  packages/sdk/src/ordinals/Decimal.ts
  packages/sdk/src/ordinals/Degree.ts
  packages/sdk/src/ordinals/Epoch.ts
  packages/sdk/src/ordinals/Height.ts
  packages/sdk/src/ordinals/Rarity.ts
  packages/sdk/src/ordinals/Sat.ts
  packages/sdk/src/ordinals/__tests__/Decimal.spec.ts
  packages/sdk/src/ordinals/__tests__/Degree.spec.ts
  packages/sdk/src/ordinals/__tests__/Epoch.spec.ts
  packages/sdk/src/ordinals/__tests__/Height.spec.ts
  packages/sdk/src/ordinals/__tests__/Rarity.spec.ts
  packages/sdk/src/ordinals/__tests__/Sat.spec.ts
  packages/sdk/src/ordinals/constants.ts
Labels: kind/feature

#55 feat(sdk): add sattributes support
  .idea/inspectionProfiles/Project_Default.xml
  packages/sdk/src/index.ts
  packages/sdk/src/ordinals/Rarity.ts
  packages/sdk/src/ordinals/Sat.ts
  packages/sdk/src/ordinals/Sattributes.ts
  packages/sdk/src/ordinals/__tests__/Sat.spec.ts
  packages/sdk/src/ordinals/__tests__/Sattributes.spec.ts
  packages/sdk/src/ordinals/index.ts
Labels: kind/feature

#57 fix(sdk): package json does not expose main
  packages/sdk/package.json
  packages/sdk/src/ordinals/Sattributes.ts
Labels: kind/fix

#61 chore(ops): add cjs as option
  apps/browser-tests/package.json
  apps/docs/package.json
  packages/sdk/package.json
  packages/sdk/vite.config.ts
  pnpm-lock.yaml
Labels: kind/chore

#41 feat(sdk): add PSBTBuilder
  apps/browser-tests/.eslintrc.cjs
  apps/browser-tests/index.html
  apps/browser-tests/src/main.ts
  apps/docs/docs/api/browser-wallets.mdx
  apps/docs/docs/api/transactions.mdx
  packages/sdk/package.json
  packages/sdk/src/api/types.ts
  packages/sdk/src/browser-wallets/types.ts
  packages/sdk/src/config/index.ts
  packages/sdk/src/constants/index.ts
  packages/sdk/src/fee/FeeEstimator.ts
  packages/sdk/src/index.ts
  packages/sdk/src/modules/BaseDatasource.ts
  packages/sdk/src/modules/JsonRpcDatasource.ts
  packages/sdk/src/transactions/PSBTBuilder.ts
  packages/sdk/src/transactions/__fixtures__/PSBTBuilder.fixture.ts
  packages/sdk/src/transactions/__tests__/PSBTBuilder.spec.ts
  packages/sdk/src/transactions/helper.ts
  packages/sdk/src/transactions/index.ts
  packages/sdk/src/transactions/types.ts
  packages/sdk/src/types.d.ts
  packages/sdk/vite.config.ts
  pnpm-lock.yaml
Labels: kind/feature

#63 fix(sdk): handle extractTx issues for non-finalized PSBT
  apps/docs/docs/api/browser-wallets.mdx
  packages/sdk/src/browser-wallets/unisat/__tests__/index.spec.ts
  packages/sdk/src/browser-wallets/unisat/index.ts
  packages/sdk/src/errors/BrowserWalletExtractTxFromNonFinalizedPsbtError.ts
  packages/sdk/src/errors/index.ts
Labels: kind/fix

#64 docs(browser-wallets): fix missing param
  apps/docs/docs/api/browser-wallets.mdx
Labels: kind/docs

#23 feat(sdk): add support for xverse
  apps/browser-tests/index.html
  apps/browser-tests/src/main.ts
  apps/docs/docs/api/browser-wallets.mdx
  packages/sdk/browser-wallets-xverse.d.ts
  packages/sdk/package.json
  packages/sdk/src/browser-wallets/xverse/__tests__/index.spec.ts
  packages/sdk/src/browser-wallets/xverse/constants.ts
  packages/sdk/src/browser-wallets/xverse/index.ts
  packages/sdk/src/browser-wallets/xverse/types.ts
  packages/sdk/src/browser-wallets/xverse/utils.ts
  packages/sdk/src/errors/BrowserWalletRequestCancelledByUserError.ts
  packages/sdk/src/errors/index.ts
  packages/sdk/vite.config.ts
Labels: kind/feature

#65 feat(sdk): add getAddressesFromPublicKey
  packages/sdk/src/addresses/__tests__/index.spec.ts
  packages/sdk/src/addresses/index.ts
  packages/sdk/src/addresses/types.ts
  packages/sdk/src/constants/index.ts
  packages/sdk/src/transactions/helper.ts
Labels: kind/feature

#67 feature(ops): remove /browser-wallets from import
  apps/browser-tests/src/main.ts
  apps/docs/docs/api/browser-wallets.mdx
  apps/docs/docs/api/transactions.mdx
  packages/sdk/package.json
  packages/sdk/unisat.d.ts
  packages/sdk/vite.config.ts
  packages/sdk/xverse.d.ts
  pnpm-lock.yaml
Labels: kind/feature

#73 fix(sdk): wrong exports during build and incorrect nested-segwit name
  packages/sdk/src/api/jsonrpc.ts
  packages/sdk/src/browser-wallets/unisat/index.ts
  packages/sdk/src/browser-wallets/xverse/index.ts
  packages/sdk/src/config/index.ts
  packages/sdk/src/index.ts
  packages/sdk/src/transactions/helper.ts
  packages/sdk/unisat.d.ts
  packages/sdk/xverse.d.ts
Labels: kind/fix

#74 fix(sdk): missing constants export
  packages/sdk/src/addresses/index.ts
Labels: kind/fix

#75 fix(sdk): bip32 and buffer
  packages/sdk/src/constants/index.ts
Labels: kind/fix

#76 fix(unisat): wrap errors
  apps/docs/docs/api/browser-wallets.mdx
  packages/sdk/src/browser-wallets/unisat/__tests__/index.spec.ts
  packages/sdk/src/browser-wallets/unisat/index.ts
Labels: kind/fix

#82 fix(xverse): type and log error
  packages/sdk/src/browser-wallets/xverse/index.ts
  packages/sdk/src/browser-wallets/xverse/types.ts
  packages/sdk/src/transactions/PSBTBuilder.ts
Labels: kind/fix

#81 feat(psbt): add edge case tests
  packages/sdk/src/transactions/__fixtures__/PSBTBuilder.fixture.ts
  packages/sdk/src/transactions/__tests__/PSBTBuilder.spec.ts
Labels: kind/feature

#83 fix(xverse): signing issue
  packages/sdk/src/browser-wallets/xverse/index.ts
  packages/sdk/src/fee/__tests__/FeeEstimator.spec.ts
  packages/sdk/src/fee/__tests__/utils.ts
Labels: kind/fix
