Repository ordzaar/ordit-sdk, pull requests merged in 2024-02, with the labels that each got.

#122 refactor(sdk): Extract sats-connect wallet functions from xverse
  packages/sdk/package.json
  packages/sdk/src/browser-wallets/internal/sats-connect/constants.ts
  packages/sdk/src/browser-wallets/internal/sats-connect/index.ts
  packages/sdk/src/browser-wallets/internal/sats-connect/types.ts
  packages/sdk/src/browser-wallets/internal/sats-connect/utils.ts
  packages/sdk/src/browser-wallets/xverse/__tests__/index.spec.ts
  packages/sdk/src/browser-wallets/xverse/index.ts
  packages/sdk/src/browser-wallets/xverse/types.ts
  pnpm-lock.yaml
Labels: kind/refactor

#123 feat(sdk): Add support for Magic Eden Wallet
  apps/browser-tests/src/App.tsx
  packages/sdk/magiceden.d.ts
  packages/sdk/package.json
  packages/sdk/src/browser-wallets/magiceden/index.ts
  packages/sdk/vite.config.ts
Labels: kind/feature

#124 feat(wallet): leather wallet integration
  apps/browser-tests/src/App.tsx
  packages/sdk/leather.d.ts
  packages/sdk/package.json
  packages/sdk/src/addresses/index.ts
  packages/sdk/src/browser-wallets/leather/__tests__/index.spec.ts
  packages/sdk/src/browser-wallets/leather/index.ts
  packages/sdk/src/browser-wallets/leather/types.ts
  packages/sdk/src/browser-wallets/leather/utils.ts
  packages/sdk/src/errors/BrowserWalletNetworkMismatchError.ts
  packages/sdk/src/errors/index.ts
  packages/sdk/src/types.d.ts
  packages/sdk/vite.config.ts
  pnpm-lock.yaml
Labels: kind/feature

#142 fix(sdk): detection of Magic Eden Wallet
  packages/sdk/package.json
  packages/sdk/src/browser-wallets/magiceden/index.ts
  pnpm-lock.yaml
Labels: kind/fix
